<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VSTONX</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css' )}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate.css')}}">
</head>

<body id="reportsPage">
  <div class="" id="home">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-xl navbar-light dark_o">
            <a class="navbar-brand" href="{{ url_for('home')}}">
              <h1 class="tm-site-title mb-0 light">VSTONX</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                <div class="nav-item">
                  <form name="ticker" action="" method="POST" class="tm-login-form">
                    {{ form.hidden_tag() }}
                    <fieldset>
                      <div class="input-group">
                        {{ form.search(class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7")}}
                        {{ form.submit(class="btn btn-primary d-inline-block mx-auto")}}
                      </div>
                    </fieldset>
                  </form>
                </div>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home')}}" >
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('search')}}" >Index Search</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" >
                    Settings
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#bbe1fa ;">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Billing</a>
                    <a class="dropdown-item" href="#">Customize</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- row -->
      <div class="row tm-content-row tm-mt-big">
        <div class="tm-col tm-col-big h-500">
          <div class="tm-block h-100 dark">
            <h2 class="tm-block-title light">
              CHART : {{ ticker }} ( {{ p_chng }} %)
            </h2>
            <canvas id="lineChart"></canvas>
          </div>
        </div>
        <div class="tm-col tm-col-small">
          <div class="tm-block h-100 dark">
            <div class="row">
              <div class="col-8">
                <h2 class="tm-block-title d-inline-block light">PREDICTION</h2>
                <p style="font-size: 22px; color:#d6e0f0 ;">
                  {{ ticker }} : {{ pred }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tm-col tm-col-mid">
          <div class="tm-block h-100 dark">
            <h2 class="tm-block-title light">FUNDAMENTALS</h2>
            <p style=" font-size: 20px; color:#d6e0f0 ;">
              52 WEEK HIGH : {{ high }}
            </p>
            <p style=" font-size: 20px; color:#d6e0f0 ;">
              52 WEEK LOW : {{ low }}
            </p>
            <p style=" font-size: 20px; color:#d6e0f0 ;">
              FACE VALUE : {{ f_value }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js' )}}"></script>
  <script src="{{ url_for('static', filename='js/moment.min.js' )}}"></script>
  <script src="{{ url_for('static', filename='js/utils.js' )}}"></script>
  <script src="{{ url_for('static', filename='js/Chart.min.js' )}}"></script>
  <script src="{{ url_for('static', filename='js/fullcalendar.min.js' )}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
  <script>
    const width_threshold = 480;

    function drawLineChart() {
      if ($("#lineChart").length) {
        ctxLine = document.getElementById("lineChart").getContext("2d");
        optionsLine = {
          scales: {
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: "PRICE"
                }
              }
            ]
          }
        };

        // Set aspect ratio based on window width
        optionsLine.maintainAspectRatio =
          $(window).width() < width_threshold ? false : true;

        configLine = {
          type: "line",
          data: {
            labels: [{% for item in labels %}
                        "{{item}}",
                        {% endfor %}],
        datasets: [
          {
            label: '{{ legend }}',
            data: [{% for item in values %}
                            {{ item }},
      {% endfor %}],
      fill: false,
        borderColor: "#d6e0f0",
          lineTension: 0.1,
            cubicInterpolationMode: 'monotone',
              pointRadius: '2',
                spangaps: true,
                  },
                ]
              },
    options: optionsLine
            };

    lineChart = new Chart(ctxLine, configLine);
          }
        }

    function updateChartOptions() {
      if ($(window).width() < width_threshold) {
        if (optionsLine) {
          optionsLine.maintainAspectRatio = false;
        }
      } else {
        if (optionsLine) {
          optionsLine.maintainAspectRatio = true;
        }
      }
    }

    function updateLineChart() {
      if (lineChart) {
        lineChart.options = optionsLine;
        lineChart.update();
      }
    }

    function reloadPage() {
      setTimeout(function () {
        window.location.reload();
      }); // Reload the page so that charts will display correctly
    }

    
  </script>
  <script>
    let ctxLine,
      optionsLine,
      configLine,
      lineChart;

    $(function () {
      updateChartOptions();
      drawLineChart(); 

      $(window).resize(function () {
        updateChartOptions();
        updateLineChart();
        reloadPage();
      });
    })
  </script>
</body>

</html>